<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestaurantPOS3.My.MySettings.RPOS_DBConnectionString"
            connectionString="Data Source=NCHONRA-PC;Initial Catalog=RPOS_DB;Persist Security Info=True;User ID=SQL_Admin;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  </configuration>
